{% extends "layout.html" %}

{% block content %}
<section class="container-fluid bg-light h-75 " >
  <div class="container h-100 ">
    <div class="row h-100">
      <div class="col-6  h-100 bg-info text-white">
        <div class="col-12 m-5 p-5">
          <ul><h1>What we do</h1>
            <li>
              <p>We create swift platform for job seekers and employers</p>
            </li>
            <li>
              <p>With our Resource you will be able to get accross varieties of your choice of personnels </p>
            </li>
            <li>
              <p>There our platform entails simplicity </p>
            </li>
          </ul>
        </div> 
      </div>
      <div class="col-6  h-100 ">
        <div class="col-12 h-100 m-5 p-5">
          <img src="public/images/pexels-tima-miroshnichenko-5439137.jpg" height="80%" wdth="100%">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid pb-5" style="background-color: orange;">
  <div>
    <h1 class="pt-5 text-light text-center">What is obtainable with our platforms</h1>

    <p class="text-center text-white"> <b> Building a great team is hard. Using a hiring tool shouldn't be. 
    JobSites <br> gives you & your team the power to build & optimize your hiring process, whatever the size. </b> </p>
    <p class="text-center text-white">
      <b>Learn how JobSites helps you step up your hiring game & make more informed hiring decisions:</b>
    </p>
  <div>
  <div class="container">
    <div class="row">
      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-info">&#xf1fe</i>
          </div>
          <div class="col-10">
            <h5>Reporting & Analytics</h5>
            <p class="text-light">Get actionable insight into every facet of your recruiting 
              process so you can improve your process and make better, more informed hiring decisions in less time.</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-white">&#xf4fe</i>
          </div>
          <div class="col-10">
            <h5>Candidate Management</h5>
            <p class="text-light">Get a bird’s eye view of your candidate pipeline our visual drag & drop interface.
             Customize pipelines for different roles,
             automate communication, tasks, scheduling and follow-ups.</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-danger">&#xf0e0</i>
          </div>
          <div class="col-10">
            <h5>Email, SMS, & Scheduling</h5>
            <p class="text-light">Automate candidate emails, SMS messages, scheduling, and interview management, 
            discover customization that gives you time for real, quality conversations with candidates.</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-muted">&#xf7d9</i>
          </div>
          <div class="col-10">
            <h5>Advertise Your Jobs</h5>
            <p class="text-light">Create the perfect job description once and advertise it on over 50 job boards with a single click. 
            Choose from dozens of premium boards to attract harder to reach candidate.</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-primary">&#xf1e5</i>
          </div>
          <div class="col-10">
            <h5>Source Candidates</h5>
            <p class="text-light">Get proactive in your pursuit of top talent. 
            Our candidate database and sourcing extension help you fill your talent pool in just a few clicks.</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-success" >&#xf0ac</i>
          </div>
          <div class="col-10">
            <h5>Career Portal</h5>
            <p class="text-light">Encourage inbound applicants and further your employer brand with both Career 
              and Employee Referral Sites that are easy to build, goof-proof,
             and automatically beautiful.</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-4 ">
        <div class="row mt-3 mb-2">
          <div class="col-2">
            <i class="fas fa-2x fa-float text-light" >&#xf1ad</i>
          </div>
          <div class="col-10">
            <h5>Team Collaboration</h5>
            <p class="text-light">Recruiting is a team sport. Get your entire team involved early and make collaborative hiring decisions in real-time</p>
            <p>
              <a href="#" class="text-light"><h5>Learn more</h5></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section >

<section class="container-fluid pb-2 bg-info h-100">
    <div class="row no-gutters text-light">
      <div class="col-1"></div>
      <div class="col-7">
        <div class="row">
          <div class="col-3 ">
            <div class="card-body">
              <p class="card-title " style="color: lightgray">Products</p>
              <p class="card-text"> <a href="#" class="text-white" >Recruiting</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Onboarding</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Pricing</a> </p>
            </div>
          
            <div class="card-body">
              <p class="card-title " style="color: lightgray">Segments</p>
              <p class="card-text"> <a href="#" class="text-white" >Enterprise</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Small to midsize</a> </p>
            </div>
            <div class="card-body">
              <p class="card-title " style="color: lightgray">Solutions</p>
              <p class="card-text"> <a href="#" class="text-white" >Integrations</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Structured hiring</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Candidate experience</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Diversity, equity & inclusion</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >More solutions</a> </p>
            </div>
          </div>
          <div class="col-3 ">
            <div class="card-body">
                <p class="card-title " style="color: lightgray">Resources</p>
                <p class="card-text"> <a href="#" class="text-white" >Blog</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Guidance</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Customer stories</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Support</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Developer resources</a> </p>
              </div>
              <div class="card-body">
                <p class="card-title " style="color: lightgray">Platform</p>
                <p class="card-text"> <a href="#" class="text-white" >Ethical principles</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Services</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Mobile</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >APIs</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >Security</a> </p>
                <p class="card-text"> <a href="#" class="text-white" >GDPR</a> </p>
              </div>
          </div>
          <div class="col-3 ">
            <div class="card-body">
              <p class="card-title " style="color: lightgray">About us</p>
              <p class="card-text"> <a href="#" class="text-white" >Mission</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Belonging</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Company</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Careers</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Press & awards</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Contact</a> </p>
            </div>
            <div class="card-body">
              <p class="card-title " style="color: lightgray">Community</p>
              <p class="card-text"> <a href="#" class="text-white" >Events</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Open</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Talent Makers</a> </p>
              <p class="card-text"> <a href="#" class="text-white" >Newsletter</a> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card-body">
          <h5 class="card-title " style="color: lightgray">Modern Recruiter newsletter</h5>
          <p class="card-text"> Our bi-weekly newsletter full of inspiration, podcasts, trends and news. </p>
          
            <label class=""><sup class="text-warning">*</sup> Email address</label>
              <input type="email" class="form-control col-12"> <br>
              <input type="submit" value="subscribe" class="form-control bg-transparent col-6">
          <p class="card-text"> <a href="#" class="text-white" >Talent Makers</a> </p>
          <p class="card-text"> <a href="#" class="text-white" >Newsletter</a> </p>
        </div>
      </div>
      <div class="col-1 mb-2"></div>
      <div class="col-1 mb-2"></div>
      <div class="col-5 mt-4">
        <div class="row">
          <div class="col-1">
            <p> <a href="#" class="text-light"><i class="fab">&#xf39e</i></a></p>
          </div>
          <div class="col-1">
            <p> <a href="#" class="text-light"><i class="fab">&#xf099</i></a></p>
          </div>
          <div class="col-1">
            <p> <a href="#" class="text-light"><i class="fab">&#xf167</i></a></p>
          </div>
          <div class="col-1">
            <p> <a href="#" class="text-light"><i class="fab">&#xf0e1</i></a></p>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
      <div class="col-1"></div>
      <div class="col-9">
        <p> <small>©2020 JobSites, Inc.<br>
          “Hire for what’s next” and “JobSites Talent Makers” are trademarks of JobSites Software.
           <a href="#" style="color: lightgray" >Privacy policy</a> <a href="#" style="color: lightgray">Terms of service</a> 
          </small> </p>
      </div>
    </div>
</section>

{% endblock %}
