<nav class="navbar navbar-default bg-white navbar-inverse fixed-top">
    <div class="container">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link active text-dark" href="#"><span><i class="fas">&#xf0b1</i></span> JOBSITE</a>
            </li>

        </ul>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#services">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Resources</a>
            </li>
        </ul>

        <ul class="nav nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Signin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Signout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-12 mb-5 pb-5"></div>